{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate
          enctype = "multipart/form-data">
    <h2>Запрос на покупку</h2>
    <h2>{{ product.title }}</h2>
    <h3>Описание:</h3> <p>{{ product.description }}</p>
    {% set id = product.id|string %}
    {% set path = "\\static\\image\\products\\" + id + ".jpg" %}
    <div class="form-group">
        <div class="card" style="width: 18rem;">
            <img src={{path}} alt="здесь должна была быть картинка, но не нашлась"><br>
        </div>
    </div>
    <h4>Предлагаемая цена - {{ money }} руб.</h4>
    {{ form.yes(class="btn btn-success") }}
    {{ form.no(class="btn btn-danger") }}
</form>
{% endblock %}