<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta lang="ru">
    <title>Скедня.Аукцион</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-light" style="background-color: #ffcc00">
        <a href="#">
            <img src="static/image/Yandex.png" width="140" height="100" class="d-inline-block align-top" alt="">
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#" class="nav-link"><font size="5">Главная страница</font></a>
            </li>
        </ul>
    </nav>
</header>
<main role="main" class="content">
    {% block content %}{% endblock %}
</main>
</body>
</html>