{% extends "base.html" %}

{% block content %}
    {% if message != "" %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <form action="" method="post" novalidate
          enctype = "multipart/form-data">
        <div>
            {{ form.csrf_token }}
        </div>
        <h1>Сделать ставку</h1>
        <h2>{{ product.title }}</h2>
        <div class="form-group">
            <h3>Описание: </h3><h6>{{ product.description }}</h6>
        </div>
        {% set id = product.id|string %}
        {% set path = "\\static\\image\\products\\" + id + ".jpg" %}
        <div class="form-group">
            <img src={{path}} alt="здесь должна была быть картинка, но не нашлась"><br>
        </div>
        <div class="form-group">
            <label for="cost">{{ form.cost.label() }}</label>
            {{ form.cost(class="form-control", id="cost") }}
            {% for error in form.cost.errors %}
                <h6>{{ error }}</h6>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-warning") }}
    </form>
{% endblock %}
