{% extends "base.html" %}
{% block content %}
<h1>Страница продукта</h1>
<h2>{{ product.title }}</h2>
{% if product.is_sold == 1 %}
<h3>Товар продан</h3>
{% elif owner.id == current_user.id %}
<h4>Вы владелец</h4>
{% elif current_user.is_authenticated == 0 %}
<h4>Войдите на сайт</h4>
{% else %}
<a href="/make_deal/{{ product.id }}" class="btn btn-warning">Приобрести товар</a><br/>
{% endif %}
<div style="position: absolute; right: 0px; top: 0px;">
    <img src="/static/image/products/{{ product.id }}.jpg">
</div>
<h3>Описание:</h3> <p>{{ product.description }}</p>
<h3>Владелец</h3>
<a href="/account/{{ product.owner }}" class="btn btn-light">{{ owner.name }} {{ owner.surname }}</a>
{% endblock %}